<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="primary" [routerLink]="['/menu/employees']"><ion-icon name="arrow-back-outline"></ion-icon>Volver</ion-button>
    </ion-buttons>
    <ion-title>Agregar Empleado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-card> 
    <form [formGroup]="addEmployeeForm" mode="md">
      <ion-grid>
        <ion-row>
          <ion-col  size="0.7">
            <ion-item>
              <ion-label position="stacked" style="font-size:25px;">ID: {{idEmployee}}</ion-label>
              
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item>
              <ion-label  position="stacked">Nombre</ion-label>
              <ion-input formControlName="name" placeholder="Nombre del empleado...." type="text" minlength="10" autocapitalize=on required=true ></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="5">
            <ion-item>
              <ion-label position="stacked">RFC</ion-label>
              <ion-input formControlName="rfc"placeholder="Rfc del empleado...." type="text" minlength="13"maxlength="13" autocapitalize=on inputmode="text"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      <ion-row>
        <ion-col size="5">
          <ion-item>
            <ion-label  position="stacked">Posicion</ion-label>
            <ion-input formControlName="position"placeholder="posicion del empleado...." type="text"minlength="3"autocapitalize="on" inputmode="text"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="4">
          <ion-item>
            <ion-label  position="stacked">Numero de telefono</ion-label>
            <ion-input  formControlName="phone" placeholder="telefono a 10 digitos...."  minlength="10"maxlength="10" inputmode="numeric" ></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="3">
          <ion-item>
            <ion-label position="salary">Salario</ion-label>
            <ion-input  formControlName="salary"  placeholder="salario del empleado...."minlength="4"maxlength="6" ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="2.5">
          <ion-item >
            <ion-label position="stacked">Fecha de Nacimiento</ion-label>
            <ion-datetime formControlName="birthday" presentation="date"  value="date.now()" ></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col >
          <ion-button expand="block" shape="round" size="medium"  (click)="save()">Agregar Empleado</ion-button>
        </ion-col>
      </ion-row>
      </ion-grid>
    </form>
  </ion-card>
</ion-content>
